.container{
  width: 40vw;
  border: 1px solid black;
  height: fit-content;
  margin: 50px auto;
  padding: 20px;
}

.todo-list{
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: lightcoral;
  border: 1px solid greenyellow;
}
.fa-trash-alt{
  margin-top: 20px;
  margin-left: 10px;
  height: 20px;
  font-size: 25px;
}
.fa-plus{
  background-color: aquamarine;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
}

h2{
  margin-left: 10px;
  width: 100px;
}
input{
  width: 300px;
  height: 25px;
}